D      //GUI dimensions xo,yo,xl,yl,lw,rw,tw,bw,df,bor_type,bkup
200 200 530 402
4 4 4 4
9 4 1 0 0 1 0 0 0 0 1 0 0.000000 0 100 100 1
//Text Box
t
t     //code
20 18  //x1,y1
24 //Width 
1 2  //Nx,Ny,
//element formats
"File Name:%30s" sw: 1
"Filter   :%30s" sw: 1
426 84  //x2,y2
1 1 10 //Cursor Position,bordr+10*type(1:0)
5 9 0 //hide
"Txbox1"
//Info Box
i
i     //code
91 94  //x1,y1
472 121 //x2,y2
41 1 //nchrs,nlines
1 //hide
"Info"
//Select Menu
x
x     //code
17 124  //x1,y1
267 366 //x2,y2
10 2   //ygap
208 18 //Width 
103396080  //Ny,
6 22  // offset, scroll width 
2 1 0 1 0 // type,item hight,bordr,bkgr,hide 
"Xbox1"
//Select Menu
x
x     //code
268 124  //x1,y1
518 366 //x2,y2
10 2   //ygap
208 18 //Width 
103396080  //Ny,
6 22  // offset, scroll width 
2 1 0 1 0 // type,item hight,bordr,bkgr,hide 
"Xbox2"
//Button Box
n
n     //code
426 55  //x1,y1
500 89  //x2,y2
2 2  //xgap,ygap
64 //length 
24 //Width 
1 1  //Nx,Ny,
1 //status
"Refresh" //title 
NULL // XPM 
NULL // XPM 
NULL // XPM 
-216226216 //back ground color
 //keyboard code
2 0.500000 0  //type,fac
0 0 //hide
"Refresh"
//Horiz bar
h
h     //code
181 368  //x1,y1
350 397  //x2,y2
10 0  //xgap,ygap
72 //length 
24 //Width 
2 1  //Nx,Ny,
1 //status
"!c03Cancel" //title 
NULL // XPM 
NULL // XPM 
NULL // XPM 
-216226216 //back ground color
~ //keyboard code
1 //status
"!c38Okay" //title 
NULL // XPM 
NULL // XPM 
NULL // XPM 
-216226216 //back ground color
~ //keyboard code
7 0.500000 0  //type,fac
0 0 //hide
"Splbutn1"
//Button Box
n
n     //code
57 88  //x1,y1
92 123  //x2,y2
2 2  //xgap,ygap
30 //length 
30 //Width 
1 1  //Nx,Ny,
1 //status
"" //title 
NULL // XPM 
NULL // XPM 
NULL // XPM 
-1 //back ground color
 //keyboard code
8 0.150000 0  //type,fac
0 0 //hide
"Button2"
//Button Box
n
n     //code
20 88  //x1,y1
57 123  //x2,y2
2 2  //xgap,ygap
30 //length 
30 //Width 
1 1  //Nx,Ny,
1 //status
"" //title 
NULL // XPM 
NULL // XPM 
NULL // XPM 
-1 //back ground color
~ //keyboard code
8 0.150000 0  //type,fac
0 0 //hide
"Button3"
//Text Box
t
t     //code
90 89  //x1,y1
24 //Width 
1 1  //Nx,Ny,
//element formats
"Folder%26s" sw: 1
431 119  //x2,y2
1 1 10 //Cursor Position,bordr+10*type(1:0)
5 9 0 //hide
"Txbox2"
//Button Box
n
n     //code
425 88  //x1,y1
463 123  //x2,y2
0 0  //xgap,ygap
30 //length 
30 //Width 
1 1  //Nx,Ny,
1 //status
"Go" //title 
NULL // XPM 
NULL // XPM 
NULL // XPM 
-216226216 //back ground color
~ //keyboard code
7 0.500000 0  //type,fac
0 0 //hide
"Go"
