D      //GUI dimensions xo,yo,xl,yl,lw,rw,tw,bw,df,bor_type,bkup
0 0 2420 1050
4 4 43 4
4 3 0 0 1 1 0 0 0 1 1 0 0.000000 0 100 100 0
//Button Box
n
n     //code
7 3  //x1,y1
700 38  //x2,y2
12 5  //xgap,ygap
84 //length 
25 //Width 
7 1  //Nx,Ny,
1 //status
"File" //title 
NULL // XPM 
NULL // XPM 
NULL // XPM 
-1 //back ground color
~ //keyboard code
1 //status
"Widget" //title 
NULL // XPM 
NULL // XPM 
NULL // XPM 
-1 //back ground color
~ //keyboard code
1 //status
"Border" //title 
NULL // XPM 
NULL // XPM 
NULL // XPM 
-1 //back ground color
~ //keyboard code
1 //status
"Resize" //title 
NULL // XPM 
NULL // XPM 
NULL // XPM 
-1 //back ground color
~ //keyboard code
1 //status
"Repos" //title 
NULL // XPM 
NULL // XPM 
NULL // XPM 
-1 //back ground color
~ //keyboard code
1 //status
"Options" //title 
NULL // XPM 
NULL // XPM 
NULL // XPM 
-1 //back ground color
~ //keyboard code
1 //status
"Test" //title 
NULL // XPM 
NULL // XPM 
NULL // XPM 
-1 //back ground color
~ //keyboard code
1 0.500000 0  //type,fac
0 0 //hide
"KDbar"
//Graph Box
g
g     //code
9 43  //x1,y1
2300 900 //x2,y2
NULL // XPM 
0   // background color 
0 0 //border hide
"KDgbox"
//Info Box
i
i     //code
708 5  //x1,y1
994 38 //x2,y2
30 1 //nchrs,nlines
0 //hide
"KDinfo"
//Button Box
n
n     //code
1016 6  //x1,y1
1090 38  //x2,y2
2 2  //xgap,ygap
64 //length 
22 //Width 
1 1  //Nx,Ny,
1 //status
"Help" //title 
NULL // XPM 
NULL // XPM 
NULL // XPM 
-177186177 //back ground color
 //keyboard code
7 0.500000 0  //type,fac
0 0 //hide
"Help"
//Button Box
n
n     //code
1088 6  //x1,y1
1162 38  //x2,y2
2 2  //xgap,ygap
64 //length 
22 //Width 
1 1  //Nx,Ny,
1 //status
"Demo" //title 
NULL // XPM 
NULL // XPM 
NULL // XPM 
-177186177 //back ground color
 //keyboard code
7 0.500000 0  //type,fac
0 0 //hide
"Demo"
